
$cor-bg: #00080f;
$cor-bg2: #011322;
$cor-imgShadow: #141414d9;
$cor-atrat: #06bfcc;
$cor-atrat2: #11848a;
$cor-textClaro: aliceblue;

$distGap: 1em;
$header-height: 75px; // cuidado aqui (valor é resultado da font+padding);
$container-maxWidth: 1280px;
$content-maxWidth: 780px;
