@use '../../styles/variables' as *;

.search {
    background-color: $cor-bg;
    height: 100vh; width: 100%;
    position: relative;

    .container {
        // background-color: #041420;
        height: auto; width: 100%;
        padding-top: $header-height;

        .notSearch {
            height: auto; width: 100%;
            max-width: $content-maxWidth;
            margin: 0 auto;
            text-align: center;
        }
        .content {
            height: auto; width: 100%;
            max-width: $content-maxWidth;
            padding: 100px 0;
            margin: 0 auto;

            .inpuText {
                background-color: transparent;
                border: none; outline: none;
                border-bottom: 2px solid $cor-atrat;
                width: 100%;
                padding: 5px 10px;

                color: #ffffffad;
                font-size: 1.25em;
            }
        }
    }
}