@use '../../../styles/variables' as *;

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

$width-circle: 120px;
$width-midCircle: calc($width-circle / 2);

.circleLoading {
    border-radius: 50%;
    height: auto; width: $width-circle;
    aspect-ratio: 1/1;

    position: absolute;
    top: 50%; left: calc(50% - $width-midCircle);
    animation: rotate 2s linear infinite;

    .path {
        stroke: $cor-atrat;
        stroke-linecap: round;
        animation: dash 2.5s ease-in-out infinite;
    }
}